# Ignorar directorios compilados
dist/
node_modules/
build/

# Ignorar logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignorar archivos del sistema operativo
.DS_Store

# Ignorar carpetas de pruebas
coverage/
.nyc_output/

# Ignorar configuraciones de IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignorar configuraciones de VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignorar archivos dotenv (variables de entorno)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Ignorar directorios temporales
.temp
.tmp

# Ignorar archivos de datos de ejecución (runtime data)
pids
*.pid
*.seed
*.pid.lock

# Ignorar reportes de diagnóstico
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
